> # PublicDataReader Test Code

## Library

In [1]:
import PublicDataReader as pdr
print(pdr.__version__)
print(pdr.__all__)

>>> PublicDataReader Version : 0.1.0

- Author : Wooil Jeong
- E-mail : wooil@kakao.com
- Github : https://github.com/WooilJeong/PublicDataReader
- Blog : https://wooiljeong.github.io

['__version__', 'AptTradeReader', 'AptTradeDetailReader', 'AptRentReader', 'AptOwnershipReader', 'OffiTradeReader', 'OffiRentReader', 'RHTradeReader', 'RHRentReader', 'DHTradeReader', 'DHRentReader', 'LandTradeReader', 'BizTradeReader', 'AirStation', 'AirDataRT', 'AirData']

## Open API 서비스키 초기화

In [2]:
serviceKey = open('.api_key').read().replace('\n','')

print("Start")

AptTrade = pdr.AptTradeReader(serviceKey)
AptTradeDetail = pdr.AptTradeDetailReader(serviceKey)
AptRent = pdr.AptRentReader(serviceKey)
AptOwnership = pdr.AptOwnershipReader(serviceKey)
OffiTrade = pdr.OffiTradeReader(serviceKey)
OffiRent = pdr.OffiRentReader(serviceKey)
RHTrade = pdr.RHTradeReader(serviceKey)
RHRent = pdr.RHRentReader(serviceKey)
DHTrade = pdr.DHTradeReader(serviceKey)
DHRent = pdr.DHRentReader(serviceKey)
LandTrade = pdr.LandTradeReader(serviceKey)
BizTrade = pdr.BizTradeReader(serviceKey)

print("End")

Start
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
>>> 서비스가 정상 작동합니다.
End

In [3]:
# 지역코드 검색기
df_code = AptTrade.CodeFinder("백현동")
df_code.head(2)

              법정동명  법정구코드
0  경기도 성남시 분당구 백현동  41135

## AptTrade : 아파트 실거래자료 조회

In [4]:
# 특정 월 자료 수집기
df_AptTrade = AptTrade.DataReader("41135", "202003")
df_AptTrade.head()

    지역코드  법정동        거래일                아파트   지번    전용면적   층  건축년도   거래금액
0  41135  구미동 2020-03-02      까치마을(2단지)(주공)   88   59.98   8  1996  67700
1  41135  구미동 2020-03-02   무지개(12단지)(주공뜨란체)  212   58.14  10  1995  45000
2  41135  구미동 2020-03-03       무지개(2단지)(엘지)  202  84.822  10  1995  77500
3  41135  구미동 2020-03-05  까치마을(1단지)(대우롯데선경)   77   84.79  13  1995  98000
4  41135  구미동 2020-03-05   무지개(12단지)(주공뜨란체)  212   49.36  11  1995  39000

In [5]:
# 특정 기간 자료 수집기
df_AptTrade_sum = AptTrade.DataCollector("41135", "2020-01", "2020-03")
df_AptTrade_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일            아파트   지번    전용면적   층  건축년도    거래금액
0  41135  구미동 2020-01-03  까치마을(3단지)(신원)   66  162.87  17  1995  130000
1  41135  구미동 2020-01-03  무지개(10단지)(삼성)  222  101.82  15  1996   74000
2  41135  구미동 2020-01-03  까치마을(2단지)(주공)   88   49.36   8  1995   53200
3  41135  구미동 2020-01-04  무지개(10단지)(건영)  222  134.82  14  1996   83500
4  41135  구미동 2020-01-04   무지개(8단지)(제일)  243  101.91  10  1995   71000

## AptTradeDetail : 아파트 실거래 상세 자료 조회

In [6]:
# 특정 월 자료 수집기
df_AptTradeDetail = AptTradeDetail.DataReader("41135", "202003")
df_AptTradeDetail.head()

,지역코드,법정동,거래일,아파트,지번,전용면적,층,건축년도,거래금액,법정동본번코드,...,법정동시군구코드,법정동읍면동코드,법정동지번코드,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드
0,41135,구미동,2020-03-02,까치마을(2단지)(주공),88,59.98,8,1995,67700,0088,...,41135,11400,1,미금일로,00022,00000,41135,03,0,3180061
1,41135,구미동,2020-03-02,무지개(12단지)(주공뜨란체),212,58.14,10,1995,45000,0212,...,41135,11400,1,미금로22번길,00010,00000,41135,01,0,4340093
2,41135,구미동,2020-03-03,무지개(2단지)(엘지),202,84.822,10,1995,77500,0202,...,41135,11400,1,구미로,00050,00000,41135,01,0,3180001
3,41135,구미동,2020-03-05,까치마을(1단지)(대우롯데선경),77,84.79,13,1995,98000,0077,...,41135,11400,1,미금로,00184,00000,41135,02,0,3180016
4,41135,구미동,2020-03-05,무지개(12단지)(주공뜨란체),212,49.36,11,1995,39000,0212,...,41135,11400,1,미금로22번길,00010,00000,41135,01,0,4340093

In [7]:
# 특정 기간 자료 수집기
df_AptTradeDetail_sum = AptTradeDetail.DataCollector("41135", "2020-01", "2020-03")
df_AptTradeDetail_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

,지역코드,법정동,거래일,아파트,지번,전용면적,층,건축년도,거래금액,법정동본번코드,...,법정동시군구코드,법정동읍면동코드,법정동지번코드,도로명,도로명건물본번호코드,도로명건물부번호코드,도로명시군구코드,도로명일련번호코드,도로명지상지하코드,도로명코드
0,41135,구미동,2020-01-03,까치마을(2단지)(주공),88,49.36,8,1995,53200,0088,...,41135,11400,1,미금일로,00022,00000,41135,03,0,3180061
1,41135,구미동,2020-01-03,무지개(10단지)(삼성),222,101.82,15,1996,74000,0222,...,41135,11400,1,구미로,00100,00000,41135,01,0,3180001
2,41135,구미동,2020-01-03,까치마을(3단지)(신원),66,162.87,17,1995,130000,0066,...,41135,11400,1,미금로,00177,00000,41135,02,0,3180016
3,41135,구미동,2020-01-04,무지개(3단지)(건영),201,68.16,6,1996,60000,0201,...,41135,11400,1,미금로,00063,00000,41135,02,0,3180016
4,41135,구미동,2020-01-04,무지개(8단지)(제일),243,101.91,10,1995,71000,0243,...,41135,11400,1,구미로144번길,00007,00000,41135,01,0,4340006

## AptRent : 아파트 전월세 자료 조회

In [8]:
# 특정 월 자료 수집기
df_AptRent = AptRent.DataReader("41135", "202003")
df_AptRent.head()

,지역코드,법정동,거래일,아파트,지번,전용면적,층,건축년도,보증금액,월세금액
0,41135,구미동,2020-03-02,까치마을(4단지)(롯데),63,70.66,14,1995,47000,0
1,41135,구미동,2020-03-02,무지개(1단지)(대림),211,47.52,10,1995,26000,0
2,41135,구미동,2020-03-03,까치마을(1단지)(대우롯데선경),77,84.79,4,1995,50500,35
3,41135,구미동,2020-03-04,무지개(4단지)(주공),220,59.98,23,1995,29400,0
4,41135,구미동,2020-03-05,무지개(1단지)(대림),211,127.17,26,1996,53000,0

In [9]:
# 특정 기간 자료 수집기
df_AptRent_sum = AptRent.DataCollector("41135", "2020-01", "2020-03")
df_AptRent_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일               아파트   지번   전용면적   층  건축년도   보증금액  월세금액
0  41135  구미동 2020-01-01     까치마을(4단지)(롯데)   63  84.79   4  1995  52000     0
1  41135  구미동 2020-01-02   하얀마을(6단지)(공공임대)  112  37.67   7  1996   1200    20
2  41135  구미동 2020-01-02     까치마을(2단지)(주공)   88  49.67  16  1996   4000    80
3  41135  구미동 2020-01-02  무지개(12단지)(주공뜨란체)  212  59.98   9  1996  25000     0
4  41135  구미동 2020-01-03      무지개(5단지)(청구)  221  58.49   1  1995   3000    95

## AptOwnership : 아파트 분양권 전매 신고 자료 조회회

In [10]:
# 특정 월 자료 수집기
df_AptOwnership = AptOwnership.DataReader("41135", "202003")
df_AptOwnership.head()

    지역코드  법정동        거래일    시군구           단지   지번  구분      전용면적   층    거래금액
0  41135  백현동 2020-03-02  성남분당구  판교 더샵 퍼스트파크  516 NaN   84.8034  17   95180
1  41135  백현동 2020-03-04  성남분당구  판교 더샵 퍼스트파크  516 NaN  114.8623   7  119640
2  41135  백현동 2020-03-12  성남분당구  판교 더샵 퍼스트파크  516 NaN    84.953   8   91990
3  41135  백현동 2020-03-17  성남분당구  판교 더샵 퍼스트파크  516 NaN    84.953   8   96600

In [11]:
# 특정 기간 자료 수집기
df_AptOwnership_sum = AptOwnership.DataCollector("41135", "2020-01", "2020-03")
df_AptOwnership_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일    시군구           단지   지번  구분      전용면적   층    거래금액
0  41135  백현동 2020-01-07  성남분당구  판교 더샵 퍼스트파크  516 NaN   84.8034  19   97790
1  41135  백현동 2020-01-07  성남분당구  판교 더샵 퍼스트파크  516 NaN   84.8034  19   97790
2  41135  백현동 2020-01-14  성남분당구  판교 더샵 퍼스트파크  516 NaN   84.8034  14   95920
3  41135  백현동 2020-02-04  성남분당구  판교 더샵 퍼스트파크  516 NaN  114.5609   8  113046
4  41135  백현동 2020-02-05  성남분당구  판교 더샵 퍼스트파크  516 NaN  114.4029  11  143500

## OffiTrade : 오피스텔 매매 신고 조회

In [12]:
# 특정 월 자료 수집기
df_OffiTrade = OffiTrade.DataReader("41135", "202003")
df_OffiTrade.head()

    지역코드  법정동        거래일    시군구         단지     지번   전용면적  층   거래금액
0  41135  구미동 2020-03-04  성남분당구  시그마2 오피스텔     18  49.08  8  19500
1  41135  구미동 2020-03-05  성남분당구  분당 엠코 헤리츠    9-1  30.43  8  23700
2  41135  구미동 2020-03-07  성남분당구    세종그랑시아｜  187-3   36.2  3  16000
3  41135  구미동 2020-03-07  성남분당구    세종그랑시아∥  187-2   36.2  8  16250
4  41135  구미동 2020-03-10  성남분당구  분당 엠코 헤리츠    9-1  30.43  9  23750

In [13]:
# 특정 기간 자료 수집기
df_OffiTrade_sum = OffiTrade.DataCollector("41135", "2020-01", "2020-03")
df_OffiTrade_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일    시군구          단지     지번   전용면적  층   거래금액
0  41135  구미동 2020-01-07  성남분당구  성우스타우스오피스텔  189-1  36.02  2  16200
1  41135  구미동 2020-01-08  성남분당구  성우스타우스오피스텔  189-1  32.24  4  15300
2  41135  구미동 2020-01-10  성남분당구     세종그랑시아｜  187-3   36.2  2  15500
3  41135  구미동 2020-01-13  성남분당구     분당현대벤쳐빌   24-1  45.47  6  18400
4  41135  구미동 2020-01-14  성남분당구         포스빌    156   32.9  8  15500

## OffiRent : 오피스텔 전월세 신고 조회

In [14]:
# 특정 월 자료 수집기
df_OffiRent = OffiRent.DataReader("41135", "202003")
df_OffiRent.head()

    지역코드  법정동        거래일    시군구         단지   지번   전용면적   층    보증금  월세
0  41135  구미동 2020-03-04  성남분당구  분당 엠코 헤리츠  9-1  61.18   7  37000   0
1  41135  구미동 2020-03-06  성남분당구        포스빌  156  37.87   2   1000  60
2  41135  구미동 2020-03-06  성남분당구  분당 엠코 헤리츠  9-1  30.43   9   1000  70
3  41135  구미동 2020-03-11  성남분당구  분당 엠코 헤리츠  9-1  30.43  11  19950   0
4  41135  구미동 2020-03-11  성남분당구  분당 엠코 헤리츠  9-1  30.43   3   1000  60

In [15]:
# 특정 기간 자료 수집기
df_OffiRent_sum = OffiRent.DataCollector("41135", "2020-01", "2020-03")
df_OffiRent_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일    시군구         단지     지번   전용면적  층    보증금  월세
0  41135  구미동 2020-01-04  성남분당구    세종그랑시아｜  187-3   32.2  6   1000  55
1  41135  구미동 2020-01-04  성남분당구  분당 엠코 헤리츠    9-1  30.43  4  10000  40
2  41135  구미동 2020-01-07  성남분당구  분당 엠코 헤리츠    9-1  30.43  9   5000  60
3  41135  구미동 2020-01-07  성남분당구        포스빌    156  46.66  7  16800   0
4  41135  구미동 2020-01-08  성남분당구        포스빌    156   32.9  3   6000  30

## RHTrade : 연립다세대 매매 실거래자료 조회

In [16]:
# 특정 월 자료 수집기
df_RHTrade = RHTrade.DataReader("41135", "202003")
df_RHTrade.head()

    지역코드  법정동        거래일        연립다세대   지번    전용면적  건축년도  층    거래금액
0  41135  구미동 2020-03-02  까치마을건영빌라6단지   13   59.93  1995  4   63700
1  41135  구미동 2020-03-03     까치마을우성빌라   75  192.28  1994  2  106500
2  41135  구미동 2020-03-04   하얀그랜드빌(삼성)  111  161.89  1995  1   92000
3  41135  구미동 2020-03-05     까치마을금성백조   20   59.62  1995  2   54000
4  41135  구미동 2020-03-09        한양시티빌  116  115.47  2001  2   75700

In [17]:
# 특정 기간 자료 수집기
df_RHTrade_sum = RHTrade.DataCollector("41135", "2020-01", "2020-03")
df_RHTrade_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일        연립다세대   지번    전용면적  건축년도  층   거래금액
0  41135  구미동 2020-01-03        한양시티빌  116   114.6  2001  1  80000
1  41135  구미동 2020-01-04         삼환빌라  250  165.33  1995  3  74000
2  41135  구미동 2020-01-08         삼환빌라  250  165.28  1995  1  74500
3  41135  구미동 2020-01-08    하얀그랜드(삼부)  111   99.75  1995  2  76000
4  41135  구미동 2020-01-09  까치마을건영빌라3단지   22   59.88  1995  3  56700

## RHRent : 연립다세대 전월세 실거래자료 조회

In [18]:
# 특정 월 자료 수집기
df_RHRent = RHRent.DataReader("41135", "202003")
df_RHRent.head()

    지역코드  법정동        거래일        연립다세대   지번     전용면적  건축년도  층   보증금액  월세금액
0  41135  구미동 2020-03-10  까치마을건영빌라3단지   22    59.93  1995  1  25000    20
1  41135  구미동 2020-03-11  까치마을건영빌라6단지   13    59.93  1995  1  32000     0
2  41135  구미동 2020-03-17         신화빌라  246  184.935  1996  1  55000    10
3  41135  구미동 2020-03-17  까치마을건영빌라5단지   12     59.1  1995  4  32500     0
4  41135  구미동 2020-03-28    하얀그랜드(삼부)  111    99.75  1995  2  50000     0

In [19]:
# 특정 기간 자료 수집기
df_RHRent_sum = RHRent.DataCollector("41135", "2020-01", "2020-03")
df_RHRent_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일        연립다세대   지번    전용면적  건축년도  층   보증금액  월세금액
0  41135  구미동 2020-01-03  까치마을건영빌라5단지   12   59.99  1995  2  33000     0
1  41135  구미동 2020-01-04  까치마을건영빌라5단지   12   59.99  1995  2  32000     0
2  41135  구미동 2020-01-08    하얀그랜드(삼부)  111   99.75  1995  2  50000     0
3  41135  구미동 2020-01-09    하얀마을삼익빌라1  121  164.88  1995  2  55000     0
4  41135  구미동 2020-01-09    하얀그랜드(삼부)  111   99.75  1995  1  56000     0

## DHTrade : 단독/다가구 매매 실거래 조회

In [20]:
# 특정 월 자료 수집기
df_DHTrade = DHTrade.DataReader("41135", "202003")
df_DHTrade.head()

    지역코드  법정동        거래일 주택유형   대지면적     연면적  건축년도    거래금액
0  41135  분당동 2020-03-11  다가구  227.1  450.96  1996  100000
1  41135  서현동 2020-03-18  다가구  288.1  450.72  2003  160000
2  41135  정자동 2020-03-23  다가구  195.1  327.14  1997  130000

In [21]:
# 특정 기간 자료 수집기
df_DHTrade_sum = DHTrade.DataCollector("41135", "2020-01", "2020-03")
df_DHTrade_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일 주택유형   대지면적     연면적  건축년도    거래금액
0  41135  백현동 2020-01-20  다가구  280.9   458.9  2012  260000
1  41135  서현동 2020-01-11  다가구  225.2   423.2  2001  144000
2  41135  판교동 2020-01-30   단독  224.9  214.91  2014  180000
3  41135  구미동 2020-02-18  다가구  231.5  453.24  1995  186000
4  41135  분당동 2020-02-13   단독  197.6  381.79  1996  137000

## DHRent : 단독/다가구 전월세 자료 조회

In [22]:
# 특정 월 자료 수집기
df_DHRent = DHRent.DataReader("41135", "202003")
df_DHRent.head()

    지역코드  법정동        거래일   계약면적  보증금액  월세금액
0  41135  구미동 2020-03-03     20  1000    50
1  41135  구미동 2020-03-04     20  9000     0
2  41135  구미동 2020-03-06  28.53   500    50
3  41135  구미동 2020-03-16     20  2000    40
4  41135  구미동 2020-03-20     25  2000    40

In [23]:
# 특정 기간 자료 수집기
df_DHRent_sum = DHRent.DataCollector("41135", "2020-01", "2020-03")
df_DHRent_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일   계약면적   보증금액  월세금액
0  41135  구미동 2020-01-04     25   1000    52
1  41135  구미동 2020-01-04     27   5000    30
2  41135  구미동 2020-01-06  31.45  12000     0
3  41135  구미동 2020-01-08     20   6000     0
4  41135  구미동 2020-01-09     15    500    42

## LandTrade : 토지 매매 신고 조회

In [24]:
# 특정 월 자료 수집기
df_LandTrade = LandTrade.DataReader("41135", "202003")
df_LandTrade.head()

    지역코드  법정동        거래일    시군구       용도지역  지목  지분거래구분   거래면적    거래금액
0  41135  구미동 2020-03-17  성남분당구  제2종전용주거지역   대     NaN    548  223000
1  41135  궁내동 2020-03-23  성남분당구     자연녹지지역   답     NaN     16    1500
2  41135  궁내동 2020-03-27  성남분당구     보전녹지지역  임야     NaN    990   51000
3  41135  금곡동 2020-03-05  성남분당구     보전녹지지역   전     NaN    658  139300
4  41135  금곡동 2020-03-05  성남분당구     보전녹지지역   전     NaN  1,152   69700

In [25]:
# 특정 기간 자료 수집기
df_LandTrade_sum = LandTrade.DataCollector("41135", "2020-01", "2020-03")
df_LandTrade_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

    지역코드  법정동        거래일    시군구    용도지역 지목  지분거래구분   거래면적    거래금액
0  41135  궁내동 2020-01-15  성남분당구  보전녹지지역  대     NaN    191  120600
1  41135  금곡동 2020-01-06  성남분당구  보전녹지지역  답     NaN  1,521  138000
2  41135  금곡동 2020-01-06  성남분당구  보전녹지지역  답     NaN    641   58000
3  41135  금곡동 2020-01-06  성남분당구  보전녹지지역  답     NaN    641   58000
4  41135  금곡동 2020-01-06  성남분당구  보전녹지지역  답     NaN  2,499  226000

## BizTrade : 상업업무용 부동산 매매 신고 자료 조회

In [26]:
# 특정 월 자료 수집기
df_BizTrade = BizTrade.DataReader("41135", "202003")
df_BizTrade.head()

,지역코드,법정동,거래일,시군구,용도지역,유형,대지면적,구분,건물면적,건물주용도,건축년도,층,거래금액
0,41135,구미동,2020-03-03,성남분당구,일반상업,집합,,NaN,79,교육연구,2003,6,44500
1,41135,구미동,2020-03-04,성남분당구,근린상업,집합,,NaN,110,제1종근린생활,1996,4,32000
2,41135,구미동,2020-03-04,성남분당구,일반상업,집합,,NaN,391,업무,2004,6,148000
3,41135,구미동,2020-03-07,성남분당구,일반상업,집합,,NaN,42,업무,1999,2,15100
4,41135,구미동,2020-03-13,성남분당구,일반상업,집합,,NaN,50,업무,1999,NaN,17000

In [27]:
# 특정 기간 자료 수집기
df_BizTrade_sum = BizTrade.DataCollector("41135", "2020-01", "2020-03")
df_BizTrade_sum.head()

>>> LAWD_CD : 41135 DEAL_YMD : 202001
>>> LAWD_CD : 41135 DEAL_YMD : 202002
>>> LAWD_CD : 41135 DEAL_YMD : 202003

,지역코드,법정동,거래일,시군구,용도지역,유형,대지면적,구분,건물면적,건물주용도,건축년도,층,거래금액
0,41135,구미동,2020-01-05,성남분당구,근린상업,집합,,NaN,17,제1종근린생활,1996,1,24000
1,41135,구미동,2020-01-07,성남분당구,일반상업,집합,,NaN,36,제2종근린생활,2004,NaN,22000
2,41135,구미동,2020-01-10,성남분당구,일반상업,집합,,NaN,63,제1종근린생활,2004,1,116000
3,41135,구미동,2020-01-13,성남분당구,근린상업,집합,,NaN,129,제2종근린생활,1996,NaN,30000
4,41135,구미동,2020-01-13,성남분당구,근린상업,집합,,NaN,47,제2종근린생활,1996,3,11000